# secrets/puipr.env
# === PUIPR secrets & private config ===
# Zet hier je echte waardes:

INGEST_TOKEN=supersecrettoken123
TAUTULLI_URL=http://10.10.10.10:8181/api/v2
TAUTULLI_APIKEY=
TAUTULLI_LENGTH=100
FETCH_INTERVAL=5m
